body{
    background-color: #bebebe;
    overflow: hidden;
}


.navbar{
    z-index: 100;
    margin-bottom: 0;
}
.navbar.disable-link a{
    pointer-events: none !important;
    cursor: default !important;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar .dropdown-menu {
    margin-top: 0;
}

@media screen and (max-width: 758px) {
    .collapse{
        display: block !important;
        overflow: hidden;
        z-index: 10;
        max-height: 0px;

        -moz-transition: max-height 0.5s ease-in;
        -ms-transition: max-height 0.5s ease-in;
        -o-transition: max-height 0.5s ease-in;
        -webkit-transition: max-height 0.5s ease-in;
        transition: max-height 0.5s ease-in;



    }
    .collapse-open{
        max-height: 200px;
    }

}
.navbar-nav.disabled a{
    pointer-events: none;
}
.navbar-nav > li{
    width: 6em;
    height: 50px;
    text-align: center;

}
.navbar-nav > li.active a{
   background:transparent !important;
    box-shadow: none !important;
}
.navbar-nav > li:last-child {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    transition: transform .3s;
}
@media screen and (max-width: 758px) {
    .navbar-nav > li:last-child {
       display: none;
    }
}

.navbar-nav  li:nth-child(2).active ~ li:last-child {
    transform:translateX(6em);
}
.navbar-nav  li:nth-child(3).active ~ li:last-child {
    transform:translateX(12em) !important;
}
.navbar-nav  li:nth-child(4).active ~ li:last-child {
    transform:translateX(18em) !important;
}
.navbar-nav  li:nth-child(5).active ~ li:last-child {
    transform:translateX(24em) !important;
}

footer{
    position: absolute;
    bottom: 0;
    background: cadetblue;
    width: 100%;
}




.page{
    background: #1b6d85;
    height: calc(100vh - 52px);
    position: absolute;
    width: 100%;
}

.page.previous:not(.transitionOut){
    display: none;
}

.transitionIn{

    -webkit-animation: slideRightIn 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slideRightIn 1s; /* Firefox < 16 */
    -ms-animation: slideRightIn 1s; /* Internet Explorer */
    -o-animation: slideRightIn 1s; /* Opera < 12.1 */
    animation: slideRightIn 1s;



}

.transitionOut{

    -webkit-animation: slideRightOut 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slideRightOut 1s; /* Firefox < 16 */
    -ms-animation: slideRightOut 1s; /* Internet Explorer */
    -o-animation: slideRightOut 1s; /* Opera < 12.1 */
    animation: slideRightOut 1s;

}

/*transition*/
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*transition fadeOut*/
@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}


@keyframes slideUp {
    from { transform: translateY(70px); }
    to   { transform: translateY(0); }
}

/* Firefox < 16 */
@-moz-keyframes slideUp {
    from { transform: translateY(70px); }
    to   { transform: translateY(0); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideUp {
    from { transform: translateY(70px); }
    to   { transform: translateY(0); }
}

/* Internet Explorer */
@-ms-keyframes slideUp {
    from { transform: translateY(70px); }
    to   { transform: translateY(0); }
}

/* Opera < 12.1 */
@-o-keyframes slideUp {
    from { transform: translateY(70px); }
    to   { transform: translateY(0); }
}


@keyframes slideDown {
    from { transform: translateY(-70px); }
    to   { transform: translateY(0); }
}

/* Firefox < 16 */
@-moz-keyframes slideDown {
    from { transform: translateY(-70px); }
    to   { transform: translateY(0); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideDown {
    from { transform: translateY(-70px); }
    to   { transform: translateY(0); }
}

/* Internet Explorer */
@-ms-keyframes slideDown {
    from { transform: translateY(-70px); }
    to   { transform: translateY(0); }
}

/* Opera < 12.1 */
@-o-keyframes slideDown {
    from { transform: translateY(-70px); }
    to   { transform: translateY(0); }
}




@keyframes slideRightOut {
    from { transform: translateX(0); }
    to   { transform: translateX(100%); }
}

/* Firefox < 16 */
@-moz-keyframes slideRightOut {
    from { transform: translateX(0); }
    to   { transform: translateX(100%); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideRightOut {
    from { transform: translateX(0); }
    to   { transform: translateX(100%); }
}

/* Internet Explorer */
@-ms-keyframes slideRightOut {
    from { transform: translateX(0); }
    to   { transform: translateX(100%); }
}

/* Opera < 12.1 */
@-o-keyframes slideRightOut {
    from { transform: translateX(0); }
    to   { transform: translateX(100%); }
}






@keyframes slideRightIn {
    from { transform: translateX(-100%); }
    to   { transform: translateX(0); }
}

/* Firefox < 16 */
@-moz-keyframes slideRight {
    from { transform: translateX(-100%); }
    to   { transform: translateX(0); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideRightIn {
    from { transform: translateX(-100%); }
    to   { transform: translateX(0); }
}

/* Internet Explorer */
@-ms-keyframes slideRightIn {
    from { transform: translateX(-100%); }
    to   { transform: translateX(0); }
}

/* Opera < 12.1 */
@-o-keyframes slideRightIn {
    from { transform: translateX(-100%); }
    to   { transform: translateX(0); }
}

